<?xml version="1.0"?>
<config>
    <modules>
        <Loginstore_Payme>
            <version>0.1.0</version>
        </Loginstore_Payme>
    </modules>
    <frontend>
        <routers>
            <payme>
                <use>standard</use>
                <args>
                    <module>Loginstore_Payme</module>
                    <frontName>payme</frontName>
                </args>
            </payme>
        </routers>
        <layout>
            <updates>
                <payme>
                    <file>payme.xml</file>
                </payme>
            </updates>
        </layout>
    </frontend>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <check_no>
                    <to_order_payment>*</to_order_payment>
                </check_no>
                <check_date>
                    <to_order_payment>*</to_order_payment>
                </check_date>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <payme>
                <class>Loginstore_Payme_Model</class>
                <resourceModel>payme_mysql4</resourceModel>
            </payme>
            <payme_mysql4>
                <class>Loginstore_Payme_Mysql4</class>
                <entities>
                    <payme>
                        <table>payme</table>
                    </payme>
                </entities>
            </payme_mysql4>
        </models>
        <resources>
            <payme_setup>
                <setup>
                    <module>Loginstore_Payme</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payme_setup>
            <payme_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payme_write>
            <payme_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payme_read>
        </resources>
        <blocks>
            <payme>
                <class>Loginstore_Payme_Block</class>
            </payme>
        </blocks>
        <helpers>
            <payme>
                <class>Loginstore_Payme_Helper</class>
            </payme>
        </helpers>
    </global>
    <default>
        <payment>
            <payme>
                <active>1</active>
                <model>payme/payme</model>
                <order_status>processing</order_status>
                <title>Pago Con Tarjeta De Crédito O Débito</title>
                <message>Please enter your credit card information</message>
            </payme>
        </payment>
    </default>
</config>
